GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=
GOOGLE_SHEETS_SPREADSHEET_ID=
GOOGLE_SHEETS_SHEET_NAME=Leads

RESEND_API_KEY=
RESEND_FROM_EMAIL=PH Representante <contato@phrepresentante.com.br>
LEAD_NOTIFICATION_EMAIL=contato@phrepresentante.com.br
